@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html{
  font-size: 62.5%; 
  box-sizing: border-box;
}

body,
#root{

  height: 100vh;
  margin: 0;

}

body,input,select,textarea,.button{
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 5rem 1fr 5rem; /*5rem for header and 5 rem for footer*/
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover{ /*all links*/

  color:bisque;
}

header{
  grid-area: header;
  background-color: #5F9EA0;
  color:white;
  display:flex;
  align-items: center; /*vertical center*/
  padding: 0.5rem;
}

header a{
  color:white;
  text-decoration:none;
}

main{
  grid-area: main;
}

footer {
grid-area: footer;
background-color: #5F9EA0;
color:white;
display: flex;
justify-content: center; /*horizontal center*/
align-items: center; /*vertical center*/

}

.content{
  display: flex;
  flex-wrap: wrap;
  
}

.main{
  flex: 3 60rem;
}

.sidebar{

  flex: 1 20rem;
}

/* products */

.products{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:0;
  margin: 0;
  list-style-type: none;

}

.products li{

  flex: 0 1 29rem;
  height: 47rem;
  padding: 5rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}
.product-price{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div{
  font-size: 2rem;
}

.button{
  padding: 1rem;
  border: 0.1rem #C0C0C0 solid;
  background-color: white;

}

.button.primary{
  background-color:#FAEBD7;
}

.button:hover{

  border: 0.1rem #808080 solid;
}

a{
text-decoration: none;
text-align: center;

}
/* Index.css*/

.cart{
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;

}

.cart-header{

  border-bottom: 0.1rem #0c0c0c solid;
}

.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img{
  width: 5rem;
}

.cart-items li {

  display:flex;
}

.cart-items li div{

  padding: 0.5rem;
}

.cart-items li div:last-child{

  flex: 1;
}

.right{
  text-align: right;
}

.total{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.total >div,
.total >button{
  flex: 1;

}

/*checkout*/

form{
  width: 100%;
}
.form-container{
  padding:0;
  width: 100%;
  list-style-type:none;
}

.form-container li{

  display: flex;
  flex-direction: column;
  padding: 1rem;
}

input{

  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

.checkoutPage{

  transform: translateX(-100rem);

}

.checkoutTitle{

  text-align: center;
  padding: 10rem;
  font-family: Arial, Helvetica, sans-serif;

}

.cart-items-checkout{

  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.cart-items-checkout li{
  list-style-type: none;
  padding: 10rem;
  
}

.cart-items-checkout img{
  width: 20rem;
}